html {
  max-height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

section {
  margin-bottom: 30px;
}

header button {
  height: 30px;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(180, 37, 37);
  border-style: none;
  border-bottom: solid 3px gray;
}

#skateboards {
  background-color: white;
}

.people {
  border: 4px solid white;
  font-size: 2em;
  color: white;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
}

#image-header {
  height: 100%;
  width: 100%;
}

#top-image {
  border: 5px solid white;
}

#logo-img {
  position: absolute;
  height: 200px;
  width: 20%;
}

.grid-img {
  height: 100%;
  width: 100%;
  padding: 0;
  opacity: 0.5;
}

.cards {
  background-color: white;
  font-size: 15px;
  text-align: left;
  padding: 20px;
}

.cards h2 {
  font-size: 28px;
}

.skateboards {
  transform: rotate(90deg) scale(3);
}

h3 {
  font-size: 12px;
  color: lightgray;
  margin-top: 0px;
  margin-bottom: 0px;
}

h4 {
  font-size: 15px;
  font-weight: bold;
  color: brown;
  text-align: center;
}

.icons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.icons a {
  margin: 5px;
  border-radius: 0px;
}

.social-icon {
  border-bottom: solid 3px gray;
}

.f {
  background-color: darkblue;
}

.r {
  background-color: orange;
}

.t {
  background-color: lightblue;
}

.y {
  background-color: red;
}

.more {
  background: none;
  color: white;
}

.more:hover {
  background: none;
}

.sub {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.sub:hover {
  text-decoration: none;
}

.gray-border {
  border-bottom: solid 3px gray;
}

.contact {
  min-height: 350px;
  display: flex;
  position: relative;
  bottom: 20px;
  background-color: white;
  text-align: left;
}

.contact h1 {
  font-size: 20px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.contact-text {
  padding: 20px;
}

.contact-text a {
  border-radius: 0px;
  background-color: gray;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.text-box {
  width: 100%;
  height: 15%;
  color: lightgray;
}

.message {
  text-align: start;
  width: 100%;
  height: 30%;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding: 5px;
}

.submit {
  height: 12%;
  width: 60%;
  margin-top: 10px;
  align-self: flex-end;
  border: none;
  background-color: brown;
  color: white;
}
